.App {
  text-align: center;
}

.leaflet-container {
  background-color: rgb(200, 226, 242) !important;
}

.mapData {
  z-index: 1000;
  background: white;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  width: 400px;
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100vh;
  max-height: 100vh;
  display: flex;
  flex-direction: column;
}

.mapData h1 {
  background:rgb(227, 76, 7);
  color: rgba(255,255,255,0.92);
  margin: 0;
  padding: 2rem;
  font-weight: 400;
}

.mapData h1 small {
  display: block;
  line-height: 1.5;
  opacity: 0.75;
}

.formatList {
  color: rgba(0, 0, 0, 0.54);
  display: grid;
  grid-template-columns: auto auto;
}

.formatList dt, .formatList dd {
  padding: 20px 24px;
  border-bottom: 1px solid #e6e6e6;
}

.formatList dt:last-of-type, .formatList dd:last-of-type {
  border-bottom: 0;
}

.formatList dt {
  color: rgba(0, 0, 0, 0.87)
}

.formatList dd {
  margin: 0;
}

.close {
  top: 1.5rem;
  position: absolute;
  font-size: 2rem;
  right: 0;
  background: white;
  transform: translateX(100%);
  padding: 0 0.5rem;
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  background: rgba(255,255,255,0.9);
  color: rgba(0, 0, 0, 0.54);
  cursor: pointer;
  clip-path: inset(-10px -10px -10px 0px);
}

.close:hover {
  color: black;
}

#root dialog {
  z-index: 1500;
  border: 0;
  transform: translateY(-50%);
  box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.3);
  top: 50%;
  width: 300px;
  color: rgba(0, 0, 0, 0.87);
  line-height: 1.25;
  font-weight: 300;
}

.mapData footer {
  padding: 20px 24px;
  border-top: 1px solid #e6e6e6;
  color: rgba(0, 0, 0, 0.54);
  margin-top: auto;
}

a, a:active, a:hover {
  color: rgb(227, 76, 7);
  text-decoration: none;
}

@media all and (max-width: 420px) {
  .close {
    transform: translateX(0);
    clip-path: inset(-10px 0px -10px -10px);
  }

  .mapData {
    width: 100%;
    z-index: 1500;
  }

}